{% extends 'shop/layout.html.twig' %}

{% block body %}
    <section id="main">
        <div class="container">
            {{ include('shop/nav.html.twig') }}
            <div class="row">
                {{ render(controller('EcommerceBundle:ShopCategoryMenu:menuCategories')) }}
                <div class="col-sm-9">
                    <ul class="thumbnails">
                        {% for category in category.products %}
                            <li class="col-md-4">
                                <div class="thumbnail">
                                    <img src="/images/product/{{ category.image }}" style="width: 90%;"/>
                                    <div class="caption">
                                        <h3>{{ category.name }}</h3>
                                        <p>{{ category.price }} &euro;</p>
                                        <p><a href="{{ path('products_show', { 'id': category.id }) }}" class="btn btn-default">Show</a> <a href="#" class="btn main-color-bg">Buy</a></p>
                                    </div>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </section>
{% endblock %}